*.pyc
/logs
/run.bat
/run_org
*.orig
settings_dev.py
settings_local_test.py
*.BASE.*
*.LOCAL.*
*.REMOTE.*
/public/CACHE
/.settings/*
.settings/org.eclipse.core.resources.prefs
*.DS_Store
msyh.ttf
*.swp
.#*
.setting/
*BACKUP*
*.org
/static_root/
*.tmp
.idea/*
.pydev*
.project*
*.sublime-project
*.sublime-workspace
*.rest
*.prof
ENV
*sqllite3
__pycache__
